[submodule "pack/bundle/start/delimitMate"]
	path = pack/bundle/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pack/bundle/opt/nord-vim"]
	path = pack/bundle/opt/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "pack/bundle/start/lightline.vim"]
	path = pack/bundle/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/bundle/start/lightline-ale"]
	path = pack/bundle/start/lightline-ale
	url = https://github.com/maximbaz/lightline-ale.git
[submodule "pack/bundle/start/ale"]
	path = pack/bundle/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/bundle/start/ultisnips"]
	path = pack/bundle/start/ultisnips
	url = https://github.com/sirver/UltiSnips.git
[submodule "pack/bundle/start/vim-snippets"]
	path = pack/bundle/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
